#dashdisplay{
    @include flex-container(row, wrap);
    max-width: 960px;
}

#newbudgetlink {
    font-size: 1.5em;
    a:link, a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }

    a:active {
        @include linkactive;
    }
}

.budgetsummary {
    @include box;
    padding: $notop-padding;
    margin: 15px;
    max-width: 275px;
    a:link, a:visited {
        @include links-2;
    }
    a:hover {
        @include linkhover-2;
    }
    a:active {
        @include linkactive-2;
    }
}

.actionmenu {
    margin-top: 20px;
    a:link, a:visited {
        @include links-2;
    }
    a:hover {
        @include linkhover-2;
    }
    a:active {
        @include linkactive-2;
    }
}

//table styles
.overflow {
    overflow-x:auto
}

table.budgetexpenses{
    border-collapse: collapse;
    border: 3px solid $color-1;
    thead{
        border: 3px solid $color-1;
        background-color: $color-5;
        color: $color-2;
    }
    th {
        border-collapse: collapse;
        border: 1px solid $color-1;
        text-align: left;
        padding: 8px; 
    } 
    td {
        border-collapse: collapse;
        border: 1px solid $color-1;
        text-align: left;
        padding: 8px;
        a:link, a:visited {
            @include links;
        }
        a:hover {
            @include linkhover;
        }
    
        a:active {
            @include linkactive;
        }
    } 
    tr:nth-child(even) {
        background-color: lighten($color-5, 45%);
    }
}

.detail-amount {
    font-weight: bold;
    margin: 0;
}

.detail-date {
    margin:0;
}