h4, .notice{
    color: $color-3;
    font-weight: bold;
}

#dashdisplay{
    @include flex-container(row, wrap);
    max-width: 960px;
}

#newbudgetlink {
    font-size: 1.5em;
    a:link, a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }

    a:active {
        @include linkactive;
    }
}

.budgetsummary {
    @include box;
    padding: $notop-padding;
    margin: 15px;
    max-width: 275px;
    a:link, a:visited {
        @include links-2;
    }
    a:hover {
        @include linkhover-2;
    }
    a:active {
        @include linkactive-2;
    }
}

.actionmenu {
    margin-top: 20px;
    a:link, a:visited {
        @include links-2;
    }
    a:hover {
        @include linkhover-2;
    }
    a:active {
        @include linkactive-2;
    }
}

//table styles
.overflow {
    overflow-x:auto
}

table.budgetexpenses{
    border-collapse: collapse;
    border: 3px solid $color-1;
    thead{
        border: 3px solid $color-1;
        background-color: $color-5;
        color: $color-2;
    }
    th {
        border-collapse: collapse;
        border: 1px solid $color-1;
        text-align: left;
        padding: 8px; 
    } 
    td {
        border-collapse: collapse;
        border: 1px solid $color-1;
        text-align: left;
        padding: 8px;
        a:link, a:visited {
            @include links;
        }
        a:hover {
            @include linkhover;
        }
    
        a:active {
            @include linkactive;
        }
    } 
    tr:nth-child(even) {
        background-color: $color-6;
    }
}

.detail-amount {
    font-weight: bold;
    margin: 0;
}

.detail-date {
    margin:0;
}

fieldset {
    background-color: $color-6;
    @include box;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 200px;
    background-color: $color-4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        background-color: darken($color-4, 10%);
    }
  }
  .danger {
    background-color: darken($color-4, 25%);
    &:hover{
        background-color: $color-4;
    }
  }
