#dashdisplay{
    @include flex-container(row, wrap);
    max-width: 960px;
}

#addbudgetlink {
    font-size: 1.5em;
    a:link, a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }

    a:active {
        @include linkactive;
    }
}

.budgetsummary{
    @include box;
    padding: $notop-padding;
    margin: 15px;
    max-width: 275px;
}