.dashdisplay{
    @include flex-container(row, wrap);
}

#addbudgetlink {
    font-size: 2em;
    a:link, a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }

    a:active {
        @include linkactive;
    }
}

.budgetsummary{
    @include box;
    padding: $notop-padding;
    margin: 15px;
}