/*LANDING PAGE*/
.hello-image {
    padding: $secondary-padding;
    img {
        @include center;
    }
    @include breakpoint(small){
        float:left;
        width: 50%;
        img {
            width: 100%;
        }
    }
}

.hello-text {
    padding: $primary-padding;
    @include breakpoint(small){
        float: right;
        width: 50%;
    }
}

.project-list {
    padding: $primary-padding;
    @include breakpoint(small){
        float:right;
        width: 50%;
    }

}

/*CLASS ASSIGNMENT MENU*/
ul.assignment-menu li {
    list-style-type: none;
    a:link {
        @include links;
    }
    a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }
    a:active{
        @include linkactive;
    }

}