/* Color Pallet */
$color-1: #404040; // Text
$color-2: #FFF8F0; // Background
$color-3: #f83f70; // Accent
$color-4: #05668D; 
$color-5: #427AA1;

/* Fonts */
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Bubblegum Sans', cursive;

/* Standard padding*/
$primary-padding: 20px;
$secondary-padding: 0px 20px;

@mixin links {
    color: $color-3;
    text-decoration: none;
}

@mixin linkhover {
    color: lighten($color-3, 10%);
    text-decoration: underline;
}

@mixin linkactive {
    color: darken($color-3, 10%);
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $color-2;
    color: $color-1;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
    padding-bottom: 54px; //height of footer
    min-height: 100vh;
}

h1 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3em;
}

h2 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
}

main {
    padding: $primary-padding;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $secondary-padding;
    border-top: 1px solid $color-3;
}
nav{
    border-bottom: 1px solid $color-3;
    margin-bottom: $primary-padding;
}

/* Navigation */
.topnav {
    overflow: hidden;
    background-color: $color-2;
    //links inside navbar
    a {
        float: left;
        display: block;
        color: $color-1;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.15em;
    }
    /*a:not(:first-child) {
        float: right;
    }
    a:hover:not(:first-child) {
        background-color:  lighten($color-3, 30%); 
    }
    .icon {
        display: none;
    }*/
}

//the dropdown container
.dropdown {
    float: left;
    overflow: hidden;
    //the dropdown button
    .dropbtn {
        font-size: 1.15em;
        border: none;
        outline: none;
        color: $color-1;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
}

//add a red background color to navbar links on hover
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: lighten($color-3, 20%);
}

//dropdown content (hidden by default)
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    //links inside dropdown
    a {
        float: none;
        color: $color-1;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
    //add red background color to dropdown links on hover
    a:hover {
        background-color: lighten($color-3, 30%);
    }
}

//show the dropdown menu on hover
.dropdown:hover .dropdown-content {
    display: block;
}

/* Landing Page Styles */
.hello-image {
    float:left;
    width: 50%;
    padding: $secondary-padding;
    img {
        width: 100%;
    }
}

.hello-text {
    float: right;
    padding: $primary-padding;
    width: 50%;
}

.project-list {
    float:right;
    padding: $primary-padding;
    width: 50%;
}
/*CLASS ASSIGNMENT MENU*/
ul.assignment-menu li {
    list-style-type: none;
    a:link {
        @include links;
    }
    a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }
    a:active{
        @include linkactive;
    }

}

/* SHOPPING CART ASSIGNMENT */
.product-image img {
    max-width: 200px;
}

.cart-table {
    color: #000;
    background-color: #fff;
}

a:link.cart-action, a:visited.cart-action {
    color: $color-1;
    text-decoration: none;
}

a:hover.cart-action {
    color: $color-1;
    text-decoration: underline;
}

.cart-action a:active {
    color: #404040;
    text-decoration: underline;
}
