/* Color Pallet */
$color-1: #404040; // Text
$color-2: #fff; // Background
$color-3: #f83f70; // Accent
$color-4: #05668D; 
$color-5: #427AA1;

/* Set Breakpoints */
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;

@mixin breakpoint($break) {
    @if $break == large {
        @media (min-width: $break-large) { @content; }
    }
    @else if $break == medium {
        @media (min-width: $break-medium) { @content; }
    }
    @else if $break == small {
        @media (min-width: $break-small) { @content; }
    } @else {
        @media ($break) { @content; }
    }
}  

/* Fonts */
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Bubblegum Sans', cursive;

/* Standard padding*/
$primary-padding: 20px;
$secondary-padding: 0px 20px;
$notop-padding: 0px 20px 20px 20px;

@mixin links {
    color: $color-3;
    text-decoration: none;
}

@mixin linkhover {
    color: lighten($color-3, 10%);
    text-decoration: underline;
}

@mixin linkactive {
    color: darken($color-3, 10%);
    text-decoration: underline;
}

@mixin links-2 {
    color: $color-4;
    text-decoration: none;
}

@mixin linkhover-2 {
    color: lighten($color-4, 10%);
    text-decoration: underline;
}

@mixin linkactive-2 {
    color: darken($color-4, 10%);
    text-decoration: underline;
}

@mixin center {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@mixin box {
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid $color-1;
    -webkit-box-shadow: 7px 7px 9px -6px rgba(156,156,156,0.75);
    -moz-box-shadow: 7px 7px 9px -6px rgba(156,156,156,0.75);
    box-shadow: 7px 7px 9px -6px rgba(156,156,156,0.75);
}

@mixin flex-container($axis, $wrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
    justify-content: space-around;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $color-2;
    color: $color-1;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
    padding-bottom: 54px; //height of footer
    min-height: 100vh;
    max-width: 1238px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 2em;
    @include breakpoint(medium) {
        font-size: 3em;
    }
    
}

h2 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
    @include breakpoint(medium) {
        font-size: 2em;
    }
    a:link, a:visited {
        @include links;
    }
    a:hover {
        @include linkhover;
    }
    a:active {
        @include linkactive;
    }
}

h3 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1em;
    @include breakpoint(medium) {
        font-size: 1.5em;
    }
    a:link, a:visited {
        @include links;
    }

    a:hover {
        @include linkhover;
    }

    a:active {
        @include linkactive;
    }
}

i {
    margin: 0px 5px;
}

main {
    padding: $primary-padding;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $secondary-padding;
    border-top: 1px solid $color-3;
}

/* TOP NAVIGATION */
@import 'partials/topnav';

/* LANDING PAGE SYTLES */
@import 'partials/landing-page';

/* SHOPPING CART ASSIGNMENT */
@import 'partials/shopping-cart';

/* EXPENSE TRACKER PROJECT */
@import 'partials/expensetracker';