/* Color Pallet */
$color-1: #404040; // Text
$color-2: #f7f7ee; // Background
$color-3: #f83f70; // Accent
$color-4: #05668D; 
$color-5: #427AA1;

/* Fonts */
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Bubblegum Sans', cursive;

/* Standard padding*/
$primary-padding: 20px;
$secondary-padding: 0px 20px;

@mixin links {
    color: $color-3;
    text-decoration: none;
}

@mixin linkhover {
    color: lighten($color-3, 10%);
    text-decoration: underline;
}

@mixin linkactive {
    color: darken($color-3, 10%);
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $color-2;
    color: $color-1;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
    padding-bottom: 54px; //height of footer
    min-height: 100vh;
}

h1 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3em;
}

h2 {
    color: $color-4;
    font-family: 'Bubblegum Sans', cursive;
}

main {
    padding: $primary-padding;
}

footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $secondary-padding;
    border-top: 1px solid $color-3;
}

/* Navigation */
@import 'partials/topnav';

/* Landing Page Styles */
@import 'partials/landing-page';

/* SHOPPING CART ASSIGNMENT */
@import 'partials/shopping-cart';