@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

*:before, *:after{
    box-sizing: border-box;
}

html, body {
    background-color: #868187;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    position: relative;
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3em;
}

/* Navigation */
.topnav {
    overflow: hidden;
    background-color: #fff;
}
.topnav a {
    float: left;
    display: block;
    color: #404040;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.15em;
}

.topnav a:not(:first-child) {
    float: right;
}

.topnav a:hover:not(:first-child) {
    background-color:  #f3f2f3; 
}

.topnav .icon {
    display: none;
}

/* Landing Page Styles */
.hello-image {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(134, 129, 135, 1) 750px, rgba(134, 129, 135, 1) 800px), url(/images/redscarf2.jpg) no-repeat;
    background-attachment: fixed;
    background-color: #868187; 
    min-height: 100vh;
    position: relative;
}

.hello-text {
    float: right;
    padding: 20px;
    width: 500px;
}

#page-container {
    background: #868187;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

main {
    padding: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 20px;
}

/* Small Screen Responsiveness*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* SHOPPING CART ASSIGNMENT */
.product-image img {
    max-width: 200px;
}

.cart-table {
    color: #000;
    background-color: #fff;
}

.cart-actions a:link {
    color: white;
    text-decoration: none;
}

.cart-actions a:visited {
    color: white;
    text-decoration: none;
}

.cart-actions a:hover {
    text-decoration: underline;
}
