/* Color Pallet */
/* Set Breakpoints */
/* Fonts */
/* Standard padding*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #404040;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  height: 100%;
  position: relative;
  padding-bottom: 54px;
  min-height: 100vh;
  max-width: 1238px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #05668D;
  font-family: "Bubblegum Sans", cursive;
  font-size: 2em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  color: #05668D;
  font-family: "Bubblegum Sans", cursive;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2em;
  }
}
h2 a:link, h2 a:visited {
  color: #f83f70;
  text-decoration: none;
}
h2 a:hover {
  color: #fa7095;
  text-decoration: underline;
}
h2 a:active {
  color: #f60e4b;
  text-decoration: underline;
}

h3 {
  color: #05668D;
  font-family: "Bubblegum Sans", cursive;
  font-size: 1em;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.5em;
  }
}
h3 a:link, h3 a:visited {
  color: #f83f70;
  text-decoration: none;
}
h3 a:hover {
  color: #fa7095;
  text-decoration: underline;
}
h3 a:active {
  color: #f60e4b;
  text-decoration: underline;
}

i {
  margin: 0px 5px;
}

main {
  padding: 20px;
}

footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 20px;
  border-top: 1px solid #f83f70;
}

/* TOP NAVIGATION */
/*MAIN TOP NAVIGATION*/
nav {
  border-bottom: 1px solid #f83f70;
  margin-bottom: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
}
.topnav a {
  float: left;
  display: block;
  color: #404040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.15em;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 1.15em;
  border: none;
  outline: none;
  color: #404040;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #fca1b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: #404040;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #fdd3de;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* LANDING PAGE SYTLES */
/*LANDING PAGE*/
.hello-image {
  padding: 0px 20px;
}
.hello-image img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .hello-image {
    float: left;
    width: 50%;
  }
  .hello-image img {
    width: 100%;
    max-width: 530px;
  }
}

.hello-text {
  padding: 20px;
}
@media (min-width: 576px) {
  .hello-text {
    float: right;
    width: 50%;
  }
}

.project-list {
  padding: 20px;
}
@media (min-width: 576px) {
  .project-list {
    float: right;
    width: 50%;
  }
}

/*CLASS ASSIGNMENT MENU*/
ul.assignment-menu li {
  list-style-type: none;
}
ul.assignment-menu li a:link {
  color: #f83f70;
  text-decoration: none;
}
ul.assignment-menu li a:visited {
  color: #f83f70;
  text-decoration: none;
}
ul.assignment-menu li a:hover {
  color: #fa7095;
  text-decoration: underline;
}
ul.assignment-menu li a:active {
  color: #f60e4b;
  text-decoration: underline;
}

/* SHOPPING CART ASSIGNMENT */
/* SHOPPING CART ASSIGNMENT*/
.product-image img {
  max-width: 200px;
}

a:link.cart-action, a:visited.cart-action {
  color: #404040;
  text-decoration: none;
}

a:hover.cart-action {
  color: #404040;
  text-decoration: underline;
}

.cart-action a:active {
  color: #404040;
  text-decoration: underline;
}

/* EXPENSE TRACKER PROJECT */
h4 {
  color: #f60e4b;
  font-weight: bold;
  font-size: 1.4em;
}

.notice {
  color: #f83f70;
  font-weight: bold;
}

#dashdisplay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 960px;
}

#newbudgetlink {
  font-size: 1.5em;
}
#newbudgetlink a:link, #newbudgetlink a:visited {
  color: #f83f70;
  text-decoration: none;
}
#newbudgetlink a:hover {
  color: #fa7095;
  text-decoration: underline;
}
#newbudgetlink a:active {
  color: #f60e4b;
  text-decoration: underline;
}

.budgetsummary {
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px solid #404040;
  -webkit-box-shadow: 7px 7px 9px -6px rgba(156, 156, 156, 0.75);
  -moz-box-shadow: 7px 7px 9px -6px rgba(156, 156, 156, 0.75);
  box-shadow: 7px 7px 9px -6px rgba(156, 156, 156, 0.75);
  padding: 0px 20px 20px 20px;
  margin: 15px;
  max-width: 275px;
}
.budgetsummary a:link, .budgetsummary a:visited {
  color: #05668D;
  text-decoration: none;
}
.budgetsummary a:hover {
  color: #078abe;
  text-decoration: underline;
}
.budgetsummary a:active {
  color: #03425c;
  text-decoration: underline;
}

.actionmenu {
  margin-top: 20px;
}
.actionmenu a:link, .actionmenu a:visited {
  color: #05668D;
  text-decoration: none;
}
.actionmenu a:hover {
  color: #078abe;
  text-decoration: underline;
}
.actionmenu a:active {
  color: #03425c;
  text-decoration: underline;
}

.overflow {
  overflow-x: auto;
}

table.budgetexpenses {
  border-collapse: collapse;
  border: 3px solid #404040;
}
table.budgetexpenses thead {
  border: 3px solid #404040;
  background-color: #427AA1;
  color: #fff;
}
table.budgetexpenses th {
  border-collapse: collapse;
  border: 1px solid #404040;
  text-align: left;
  padding: 8px;
}
table.budgetexpenses td {
  border-collapse: collapse;
  border: 1px solid #404040;
  text-align: left;
  padding: 8px;
}
table.budgetexpenses td a:link, table.budgetexpenses td a:visited {
  color: #f83f70;
  text-decoration: none;
}
table.budgetexpenses td a:hover {
  color: #fa7095;
  text-decoration: underline;
}
table.budgetexpenses td a:active {
  color: #f60e4b;
  text-decoration: underline;
}
table.budgetexpenses tr:nth-child(even) {
  background-color: #d9e6ef;
}

.detail-amount {
  font-weight: bold;
  margin: 0;
}

.detail-date {
  margin: 0;
}

fieldset {
  background-color: #d9e6ef;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px solid #404040;
  -webkit-box-shadow: 7px 7px 9px -6px rgba(156, 156, 156, 0.75);
  -moz-box-shadow: 7px 7px 9px -6px rgba(156, 156, 156, 0.75);
  box-shadow: 7px 7px 9px -6px rgba(156, 156, 156, 0.75);
}

input, select {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 200px;
  background-color: #05668D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #03425c;
}

input.button.danger {
  background-color: #f60e4b;
}
input.button.danger:hover {
  background-color: #ca073b;
}

/*# sourceMappingURL=mystyles.css.map */
